<h2>Todos page</h2>

{{#if todos.length}}
<ul>
    {{#each todos}}
    <li>
        <label>
            <input type="checkbox">
            <span></span>
            <button class="btn btn-small">Save</button>
        </label>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No todos!</p>

{{/if}}